body
{
  font-family: 'Quicksand', sans-serif;
}

.btn
{
  border-radius: 6px;
}

.image-thumbnail
{
  height:200px;
  width: 100%;
  object-fit:cover;
  -webkit-transition: all .6s ease-in-out;
}

.image-thumbnail:hover
{
  -webkit-transform: scale(1.01);
  cursor: pointer;
}

.view-photo
{
  margin: auto;
}

#category-icons
{
  height: 22px;
  text-align: right;
  width: 100%;
  margin-bottom: -12px;
}

#clear-icon
{
  height: 20px;
  position: absolute;
  top: 280px;
  left: 270px;
  display: none;
}

#clear-icon:hover
{
  animation: zoom-in-zoom-out 0.5s;
  cursor: pointer;
}

@keyframes zoom-in-zoom-out {
  0% { transform: scale(1,1); }
  50% { transform: scale(1.3,1.3);}
  100% { transform: scale(1,1); }
}

#card-text
{
  text-align: center;
  margin-top: -2px;
  font-size: 1em;
}

/* Accomodating the photo detail image for various screen resolutions */

@media only screen and (max-height: 768px),screen and (max-width: 1366px)
{
  .modal-content,.ajax-modal-content
  {
    max-height:500px;
    min-width: 300px;
    max-width:100%;
    margin:auto;
  }
}

@media only screen and (min-height: 900px),screen and (min-width: 1440px)
{
  .image-thumbnail
  {
    height:215px;
    object-fit:cover;
    width: 100%;
    -webkit-transition: all .6s ease-in-out;
  }

  .modal-content,.ajax-modal-content
  {
    max-height:600px;
    max-width: 100%;
    min-width:300px;
    margin: auto;
  }
}

@media only screen and (min-height: 1080px),screen and (min-width: 1920px)
{
  .image-thumbnail
  {
    height:230px;
    object-fit:cover;
    width: 100%;
    -webkit-transition: all .6s ease-in-out;
  }
  .modal-content,.ajax-modal-content
  {
    max-height:768px;
    max-width: 100%;
    min-width:300px;
    margin:auto;
  }
}

@media only screen and (min-height: 1440px),screen and (min-width: 2560px)
{
  .image-thumbnail
  {
    height:330px;
    object-fit:cover;
    width: 100%;
    -webkit-transition: all .6s ease-in-out;
  }

  .modal-content,.ajax-modal-content
  {
    max-height:1150px;
    max-width: 100%;
    min-width:300px;
    margin:auto;
  }
}

.form-field{
	width:250px;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

/* Modal background */
.modal
{
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,1);
}


/* Model content - the image */
.modal-content,.ajax-modal-content
{
  margin: auto;
  display:block;
  width: auto;
}

/* Adding animationt - zoom in the modal */
.modal-content,#caption,.ajax-modal-content,#ajax-caption
{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom
{
  0%
  {
    transform:scale(0)
  }
  100%
  {
    transform:scale(1)
  }
}

/* Caption (description) of the modal image */
#caption,#ajax-caption
{
  margin: auto;
  text-align: center;
  color:#ccc;
  display: block;
  width: 100%;
}

.close,.ajax-close
{
  position: absolute;
  top:15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,.ajax-close:hover,
.close:focus,.ajax-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
